@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* General Style */

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  background-color: lightblue;
  max-width: 1440px;
  height: 100vh;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
