@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* General Style */

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
}

body {
  max-width: 100vw;
  min-height: 100vh;
}

header {
  max-width: 100%;
  min-height: 3rem;
  background-color: #333;
}

.hero-sec {
  /* min-height: 37rem; */
  background-color: crimson;
}

h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1rem;
  text-shadow: -1px 2px 4px rgba(3, 3, 3, 0.5);
}

p {
  font-size: 1.5rem;
  text-align: justify;
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  left: 0;
  right: 0;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  min-height: 3rem;
  font-weight: 700;
}

.main-nav nav {
  margin-right: 1rem;
}

.main-nav .logo {
  margin-left: 1rem;
}

.main-nav .logo span {
  color: crimson;
}

.main-nav a {
  color: #fff;
}

.main-nav nav a:hover {
  text-decoration: underline;
}

.main-nav nav a:active {
  color: rgb(216, 216, 216);
}

.main-nav ul {
  display: flex;
  gap: 1rem;
}

.hero {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-text {
  width: 50%;
}

.hero-img {
  width: 512px;
  height: 512px;
  margin: 2rem 0;
}
