@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  font-size: 15px;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
}

main {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  padding: 0 1rem;
  margin-top: 5px;
  text-align: center;
  font-weight: 700;
}

p {
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: hsl(220, 15%, 55%);
}

.container {
  max-width: 300px;
  max-height: 490px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.qr-code {
  margin: 1rem;
  max-width: 90%;
  max-height: auto;
  display: flex;
  justify-content: center;
  border-radius: 0.8rem;
}

.button {
  background-color: #2b7dfa;
  border-radius: 50%;
  margin-bottom: 2rem;
  margin-right: 2rem;
  padding: 0.8rem;
  opacity: 0.3;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: auto;
  transition: opacity 0.15s;
}

.button:hover {
  opacity: 1;
}

@media screen and (max-width: 375px) {
  .button {
    width: 48px;
    height: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
    opacity: 1;
  }
}
